section.about#about
    .container 
        +blockBox("What we do","Story about us", " Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus vitae cupiditate, nam molestias harum quam minima aperiam laudantium alias iusto dignissimos fugiat temporibus vero ducimus omnis qui tempora sed fugit.")
        .about-list
            +aboutItem("../images/img-about1.png","Supper Teams","fa fa-users")
            +aboutItem("../images/img-about2.png","Supper Teams","fa fa-users")
            +aboutItem("../images/img-about3.png","Supper Teams","fa fa-users")
            