footer.footer 
    .container 
        .footer-top 
            .footer-column
                a(href="index.html").footer-heading.footer-heading--logo MoGo 
                p.footer-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam ipsa nobis deleniti optio quis vero dolore sapiente eaque praesentium modi, aut a ratione autem laboriosam consequuntur, beatae voluptatum laborum saepe!
                p.footer-follower <strong>15k</strong> followers
                .footer-social 
                    span Follow us :
                    .footer-social-list 
                        a.footer-social-icon(href="#")
                            i.fab.fa-facebook
                        a.footer-social-icon(href="#")
                            i.fab.fa-twitter
                        a.footer-social-icon(href="#")
                            i.fab.fa-instagram 
                        a.footer-social-icon(href="#")
                            i.fab.fa-pinterest
                        a.footer-social-icon(href="#")
                            i.fab.fa-google
                        a.footer-social-icon(href="#")
                            i.fab.fa-youtube
                     
                        
                form.footer-form 
                    input(type="email" placehoder="Your Email").footer-form-input
                    button(type="submit" ).footer-form-btn Subcrible

            .footer-column
                h3.footer-heading Blog 
                a.footer-blog(href="#")
                    img.footer-blog-img(src="../images/img-blogs1.png")
                    .footer-blog-info 
                        h3.footer-blog-title Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        span.footer-blog-time.text Jan 9, 2016
                
                a.footer-blog(href="#")
                    img.footer-blog-img(src="../images/img-blogs2.png")
                    .footer-blog-info 
                        h3.footer-blog-title Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        span.footer-blog-time.text Jan 9, 2016
                
                a.footer-blog(href="#")
                    img.footer-blog-img(src="../images/img-blogs3.png")
                    .footer-blog-info 
                        h3.footer-blog-title Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        span.footer-blog-time.text Jan 9, 2016
                
            .footer-column
                h3.footer-heading Instagram
                .footer-instagram-images
                    .footer-instagram-image     
                        img(src="../images/img-instagram1.png")
                    .footer-instagram-image 
                        img(src="../images/img-instagram1.png")
                    .footer-instagram-image 
                        img(src="../images/img-instagram1.png")
                    .footer-instagram-image 
                        img(src="../images/img-instagram1.png")
                    .footer-instagram-image 
                        img(src="../images/img-instagram1.png")
                    .footer-instagram-image 
                        img(src="../images/img-instagram1.png")
                    .footer-instagram-image 
                        img(src="../images/img-instagram1.png")
                    .footer-instagram-image 
                        img(src="../images/img-instagram1.png")
                    .footer-instagram-image 
                        img(src="../images/img-instagram1.png")

                a(href="#").footer-instagram-title.text.text--light View more photo
        .footer-bottom &copy; 2016 Mogo Free PSD template by <span>Laaqiqi</span>
            
