section.story#blog 
    .container 
        +blockBox("Our stories","Lastest blog")
        ul.story-list 
            li.story-item 
                .story-media    
                    img.story-img(src="../images/img-blog1.png")
                    .story-date
                        span.story-date-number 15
                        span.story-date-text Jan
                h3.story-title Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                .story-desc 
                    p.story-desc-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                .story-meta 
                    .story-meta-item 
                        i.fa.fa-eye.story-meta-icon 
                        span.story-meta-number.text.text--light 542
                    .story-meta-item 
                        i.fa.fa-comment.story-meta-icon 
                        span.story-meta-number.text.text--light 17
            li.story-item 
                .story-media    
                    img.story-img(src="../images/img-blog2.png")
                    .story-date
                        span.story-date-number 15
                        span.story-date-text Jan
                h3.story-title Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                .story-desc 
                    p.story-desc-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                .story-meta 
                    .story-meta-item 
                        i.fa.fa-eye.story-meta-icon 
                        span.story-meta-number.text.text--light 992
                    .story-meta-item 
                        i.fa.fa-comment.story-meta-icon 
                        span.story-meta-number.text.text--light 42
            li.story-item 
                .story-media    
                    img.story-img(src="../images/img-blog3.png")
                    .story-date
                        span.story-date-number 15
                        span.story-date-text Jan
                h3.story-title Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                .story-desc 
                    p.story-desc-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                .story-meta 
                    .story-meta-item 
                        i.fa.fa-eye.story-meta-icon 
                        span.story-meta-number.text.text--light 1560
                    .story-meta-item 
                        i.fa.fa-comment.story-meta-icon 
                        span.story-meta-number.text.text--light 98
section.map 
    .container 
        .map-content 
            img.map-icon(src="../images/img-map-icon.png")
            h3.map-heading Open Map