section.team 
    .container 
        +blockBox("Where we are","Meet our team","Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
        .team-list 
           +teamItem("../images/img-team1.png","Vu Hong Minh","Branding/UX Team")
                +teamSocial()
           +teamItem("../images/img-team2.png","Vu Hong Minh","Branding/UX Team")
                 +teamSocial()
           +teamItem("../images/img-team3.png","Vu Hong Minh","Branding/UX Team") 
                 +teamSocial() 
section.brand 
    .container 
        img.brand-image(src="../images/img-logos.png")