section.work 
    .container 
        +blockBox("What we do","Some of your work") 
    .work-list 
        .work-column 
            +workItem("../images/img-work1.png","fa fa-home")
            +workItem("../images/img-work2.png","fa fa-home")
        .work-column 
            +workItem("../images/img-work3.png","fa fa-home")
            +workItem("../images/img-work4.png","fa fa-home")
        .work-column 
            +workItem("../images/img-work5.png","fa fa-home","work-item--full")
        .work-column 
            +workItem("../images/img-work6.png","fa fa-home")
            +workItem("../images/img-work7.png","fa fa-home")